* { /*обнуляет padding и margin*/
	padding: 0;
	margin: 0;
}

.header {
	background-color: #222222;
	padding: 19px 0;
}

.container {
	max-width: 1160px; 
	width: 100%;
	margin: 0 auto;
}

.header__flex {
	display: flex; /*переносит элементы в горизонтальное положение*/
	justify-content: space-between; /*распределяет элементы по бокам*/
	/*padding: 0 10px;*/
}

.header__logo {
	margin-right: 41px;
}

.header__item:not(:last-child) { /*задает header_item отступ вправа 33px, кроме последнего элемента*/
	margin-right: 33px;
}

.intro {
	background-color: #F1E4E6;
	height: 764px;
	margin: 0 0 60px 0;
}

.intro__wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: url('./img/men.png') no-repeat;
	background-position: -228px bottom;
}

.item__title {
 	width: 377px;
 	padding-left: 16px;
 	border-left: 12px solid #F16D7F;
}

.item__decor1 {	
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
	color: #222222;
}

.item__decor2 {
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	color: #222222;
}

.item__decor3 {
	color: #F16D7F;
}

.category__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.category {
	margin: 0 0 80px 0;
}

.item__decor4 {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #FFFFFF;
}

.item__decor5 {
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #F16D7F;

}

.category__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 260px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.category__item:not(:last-child) {
	width: 360px;
	height: 260px;
	margin: 0 0 30px;
}

.category__item_1 {
	background: url('./img/group.jpg');
}

.category__item_2 {
	background: url('./img/group_2.jpg');
}

.category__item_3 {
	background: url('./img/group_3.jpg');
}

.category__item_4 {
	background: url('./img/group_4.jpg');
}

.text__title {
	font-size: 30px;
	line-height: 36px;
	color: #222222;
}

.card__title {
	padding-top: 96px;
	text-align: center;
}

.p__title {
	padding-top: 6px;
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
}

.card-box {
	padding-top: 48px;
	display: flex;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card {
	width: 100%;
	height: 581px;
}


.content__card {
	padding-left: 18px;
	padding-bottom: 20px;
}

.title__card {
	padding-top: 25.35px;
	font-size: 13px;
  	line-height: 16px;
  	color: #000000;
}

.text-card {
  padding-top: 12.65px;
  width: 314.74px;
  height: 51px;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.card__price {
  padding-top: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.background__card {
	background-color: #F8F8F8;
	width: 360px;
	margin-top: -4px;
}

.card__box2 {
	all: none;
	display: flex;
	padding-top: 30px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button_product {
	background-color: white;  
    border: 1px solid #F26376;
    margin-top: 48px; 
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: 455px;
}

.decor_button {
    color: #F26376;
    font-size: 16px;
  	line-height: 19px;
}


.info_company {
	margin-top: 95px;
	background: #222224;
	width: 100%;
	height: 341px;
}

.info__box {
	padding-top: 104px;
	display: flex;
	justify-content: center;
}

.title_info {
	font-size: 19.96px;
	line-height: 24px;		
	color: #FBFBFB;
	text-align: center;
}

.text_info {
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
	text-align: center;
	color: #FBFBFB;
}

.subscribe__box {
	background: url('./img/sb_cont.jpg') no-repeat;
	width: 100%;
	height: 448px;
}

.footer {
	background: #222224;
}

.footer_content {
	width: 100%;
	height: 79px;
	padding-top: 30px;
}

.text__footer {
	font-size: 16px;
	line-height: 19px;
	color: #FBFBFB;
}

.social {
	text-align: right;
}